* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: 100%;
  background-color: white;
  padding: 0em;
  font-family: sans-serif;
}

p {
  line-height: 1.6;
}

a {
  color: white;
  text-decoration: none;
}

#menu-wrapper button {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #3c6b6b;
  color: white;
  font-weight: bolder;
  height: 32px;
  -webkit-box-shadow: 10px 10px 20px #d5d5d5;
          box-shadow: 10px 10px 20px #d5d5d5;
}

#menu-wrapper #menu-wrapper-symbol {
  height: 8px;
  width: 50px;
  background-color: #f77e7e;
  position: fixed;
  top: 30px;
  right: 20px;
  border-radius: 5px;
  z-index: 1000;
}

#menu-wrapper #menu-wrapper-symbol::before, #menu-wrapper #menu-wrapper-symbol::after {
  position: absolute;
  content: "";
  height: 8px;
  width: 50px;
  background-color: #f77e7e;
  border-radius: 5px;
}

#menu-wrapper #menu-wrapper-symbol::before {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#menu-wrapper #menu-wrapper-symbol::after {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #519191;
  z-index: 99;
}

nav ul {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
}

nav ul a {
  padding: 15px 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

nav ul a:hover {
  background-color: #f77e7e;
  color: black;
}

nav ul a:last-child {
  padding: 15px 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: #f77e7e;
  color: white;
}

nav ul a:last-child:hover {
  background-color: black;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#btn-register,
#btn-program {
  display: inline-block;
  width: 150px;
  -webkit-box-shadow: 1px 1px 10px #464646;
          box-shadow: 1px 1px 10px #464646;
  font-size: 1.2rem;
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  margin: 10px 0;
  -webkit-box-shadow: 10px 10px 20px #d5d5d5;
          box-shadow: 10px 10px 20px #d5d5d5;
}

#btn-register {
  background-color: #f77e7e;
}

#btn-register:hover {
  background-color: #519191;
  color: black;
}

#btn-program {
  background-color: #519191;
}

#btn-program:hover {
  background-color: #f77e7e;
  color: black;
}

section#header-section {
  max-width: 1200px;
  margin: 80px auto;
}

section#header-section header {
  min-height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#header-section header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  padding-left: 2em;
  padding-left: 10vw;
}

section#header-section header .header-left h1 {
  font-size: clamp(3rem, 10vw, 4rem);
  text-transform: uppercase;
  letter-spacing: -3px;
  color: #413e3e;
}

section#header-section header .header-left h2 {
  font-size: 1.5rem;
  color: #464646;
  text-transform: capitalize;
}

section#header-section header .header-left span {
  -webkit-box-shadow: 1px 1px 10px;
          box-shadow: 1px 1px 10px;
  background-color: #f77e7e;
  padding: 5px;
  font-size: 4rem;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

section#header-section header .header-left .btn-container {
  width: 60%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#header-section header .header-right {
  z-index: -1;
  display: none;
}

section#header-section header .header-right #primary-image {
  position: relative;
}

section#header-section header .header-right #primary-image img#silouette {
  border-radius: 20px;
  width: 300px;
  height: auto;
  opacity: 1;
  z-index: 1;
  animation: rotateImages 10s 5 alternate-reverse;
}

section#header-section header .header-right #primary-image #secondary-image {
  position: absolute;
  z-index: -1;
}

section#header-section header .header-right #primary-image #secondary-image img#header-img {
  -webkit-transform: translate(10%, -150%);
          transform: translate(10%, -150%);
  opacity: 0.8;
  width: 200px;
}

@-webkit-keyframes rotateImages {
  0% {
    -webkit-transform: rotateY(0deg) translate(-3vw, -25%);
            transform: rotateY(0deg) translate(-3vw, -25%);
  }
  50% {
    -webkit-transform: rotateY(45deg) translate(-3vw, -25%);
            transform: rotateY(45deg) translate(-3vw, -25%);
  }
  100% {
    -webkit-transform: rotateY(0deg) translate(-3vw, -25%);
            transform: rotateY(0deg) translate(-3vw, -25%);
  }
}

@keyframes rotateImages {
  0% {
    -webkit-transform: rotateY(0deg) translate(-3vw, -25%);
            transform: rotateY(0deg) translate(-3vw, -25%);
  }
  50% {
    -webkit-transform: rotateY(45deg) translate(-3vw, -25%);
            transform: rotateY(45deg) translate(-3vw, -25%);
  }
  100% {
    -webkit-transform: rotateY(0deg) translate(-3vw, -25%);
            transform: rotateY(0deg) translate(-3vw, -25%);
  }
}

section#what-is {
  padding-top: 100px;
  margin: 60px auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#what-is .section-title {
  min-height: 10vh;
  padding-bottom: 100px;
}

section#what-is .section-title h2 {
  font-size: 2.5rem;
  color: #464646;
  text-transform: uppercase;
  text-align: center;
}

section#what-is .section-title h3 {
  color: #464646;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
  text-align: center;
}

section#what-is .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(100% - 40px);
}

section#what-is .cards-container .card {
  -webkit-box-shadow: 10px 10px 20px #d5d5d5;
          box-shadow: 10px 10px 20px #d5d5d5;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  border: 0.5px teal solid;
  width: clamp(300px, 30%, 500px);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section#what-is .cards-container .card .card-title {
  padding: 10px 0px;
  text-align: center;
  background-color: #519191;
  border-radius: 10px;
  margin-bottom: 10px;
}

section#what-is .cards-container .card .card-title h3 {
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
}

section#what-is .cards-container .card .card-content {
  padding: 10px 20px;
}

section#what-is .cards-container .card .card-content ul {
  list-style: none;
}

section#what-is .cards-container .card .card-content ul li {
  padding: 5px 0px;
  font-size: 1rem;
}

section#what-is .cards-container .card .card-content span {
  color: #f77e7e;
  font-weight: bold;
}

section#section-sample {
  margin: 0px auto;
  padding-top: 100px;
  max-width: 1200px;
}

section#section-sample .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section#section-sample .section-container .section-title {
  padding-bottom: 50px;
}

section#section-sample .section-container .section-title h2 {
  font-size: 2.5rem;
  color: #464646;
  text-transform: uppercase;
}

section#section-sample .section-container .video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

section#section-sample .section-container .video-container video {
  width: clamp(300px, 70%, 600px);
  border: 1px #519191 solid;
  border-radius: 10px;
  z-index: 1;
}

section#section-sample .section-container .video-container .video-description {
  padding: 30px;
  width: clamp(330px, 100%, 500px);
}

section#section-sample .section-container .video-container .video-description h2 {
  padding: 20px 0;
  color: #519191;
}

section#section-sample .section-container .video-container .video-description button#btn-watchmore {
  display: block;
  padding: 5px 10px;
  font-size: 1.5rem;
  background-color: #f77e7e;
  color: white;
  border-radius: 10px;
  margin-top: 30px;
}

section#section-sample .section-container .video-container .video-description button#btn-watchmore:hover {
  background-color: #519191;
  color: black;
}

section#instructors {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

section#instructors .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#instructors .section-title h2 {
  font-size: 2.5rem;
  color: #464646;
  text-transform: uppercase;
  text-align: center;
}

section#instructors .instructors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 auto;
}

section#instructors .instructors-container .instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  width: clamp(250px, 30%, 400px);
}

section#instructors .instructors-container .instructor .name h2 {
  font-size: 1.5rem;
  padding: 20px 0;
  color: #519191;
  text-transform: uppercase;
}

section#instructors .instructors-container .instructor .name .description {
  max-width: auto;
}

section#instructors .instructors-container .instructor .name .rol h3 {
  padding: 0px 0px 10px 0px;
  color: #f77e7e;
}

section#instructors .instructors-container .matias img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px #519191 solid;
  -webkit-box-shadow: 10px 10px 20px #d5d5d5;
          box-shadow: 10px 10px 20px #d5d5d5;
}

section#instructors .instructors-container .javier img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px #519191 solid;
  -webkit-box-shadow: 10px 10px 20px #d5d5d5;
          box-shadow: 10px 10px 20px #d5d5d5;
}

section#footer {
  width: 100vw;
  min-height: 60px;
  overflow: hidden;
  padding: 20px auto;
  background-color: #519191;
}

section#footer .footer-container {
  padding: 20px 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  width: 300px;
}

form ::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.479);
}

form :-ms-input-placeholder {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.479);
}

form ::-ms-input-placeholder {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.479);
}

form ::placeholder {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.479);
}

form input {
  padding: 7px;
  font-size: 1.1rem;
  border: none;
  background-color: #ddebeb;
  border-radius: 10px;
}

form label {
  padding: 5px 0;
  font-size: 0.6rem;
  color: white;
}

form button {
  font-size: 1rem;
  padding: 10px;
  margin-top: 20px;
  background-color: #f77e7e;
  border-radius: 10px;
}

form textarea {
  margin-top: 20px;
  width: clamp(250px, 40vw, 400px);
  height: 300px;
  padding: 5px;
  border: none;
  background-color: #ddebeb;
  border-radius: 10px;
}

section#login {
  padding: 0vh 2em;
  margin-top: 20vh;
  border-left: #f77e7e 2px solid;
}

section#login .login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

section#login .login_container h2 {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 10px;
}

section#login_register {
  margin-top: 60px;
  min-height: calc(100vh - 60px - 60px);
  padding: 2em;
  background-color: #519191;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#login_register .login_register_container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#login_register h2 {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: white !important;
}

section#register .register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 400px;
  padding: 50px 2em;
  padding-bottom: 50px;
}

section#register .register-container h2 {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: white !important;
}

section#fetchingData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin: 0 auto;
  height: 400px;
  padding: 10vh 2em;
}

section#fetchingData h2 {
  padding: 10px;
}

section#fetchingData table {
  min-width: 500px;
  border: 1px black solid;
  padding: 30px;
}

section#fetchingData table th {
  text-align: center;
}

section#fetchingData table td {
  text-align: right;
  border-bottom: 1px black solid;
  padding: 5px;
}

section#admin_area {
  margin-top: 60px;
  padding-top: 0px;
  height: calc(100vh - 60px);
  background-color: #519191;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#admin_area h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: white !important;
}

#adminlogin-container {
  padding-top: 0px;
}

section#userarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#userarea ul {
  list-style: none;
}

section#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #519191;
  margin-top: 60px;
  min-height: calc(100vh);
}

section#contact h2 {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: white !important;
}

section#contact form {
  width: 100% !important;
}

section#contact form .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

section#contact form .contact-container .subcontainer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  border-left: #f77e7e 2px solid;
}

section#contact form .contact-container .subcontainer-right {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  section#header-section header .header-right {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */