button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section#header-section {
  margin: 0 auto;
  padding-top: 100px;
  min-height: calc(100vh - 50px);
}

section#header-section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
}

section#header-section header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  padding-left: 2em;
}

section#header-section header .header-left h1 {
  font-size: clamp(3rem, 10vw, 4rem);
  text-transform: uppercase;
  letter-spacing: -3px;
  color: #413e3e;
}

section#header-section header .header-left h2 {
  font-size: 1.5rem;
  color: #464646;
  text-transform: capitalize;
}

section#header-section header .header-left span {
  -webkit-box-shadow: 1px 1px 10px;
          box-shadow: 1px 1px 10px;
  background-color: #f77e7e;
  padding: 5px;
  font-size: 4rem;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

section#header-section header .header-right {
  z-index: -1;
  display: none;
}

section#header-section header .header-right #primary-image {
  position: relative;
}

section#header-section header .header-right #primary-image img#silouette {
  border-radius: 20px;
  width: 30vw;
  height: auto;
  opacity: 1;
  z-index: 1;
  animation: rotateImages 10s 5 alternate-reverse;
}

section#header-section header .header-right #primary-image #secondary-image {
  position: absolute;
  z-index: -1;
}

section#header-section header .header-right #primary-image #secondary-image img#header-img {
  -webkit-transform: translate(70%, -130%);
          transform: translate(70%, -130%);
  opacity: 0.8;
  width: 15vw;
}

@-webkit-keyframes rotateImages {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotateImages {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

section#instructors {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 100px auto;
}

section#instructors .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#instructors .section-title h2 {
  font-size: 2.5rem;
  color: #292929;
  text-transform: uppercase;
  text-align: center;
}

section#instructors .instructors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2em;
}

section#instructors .instructors-container .instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  width: clamp(250px, 30%, 400px);
}

section#instructors .instructors-container .instructor .name h2 {
  font-size: 1.5rem;
  padding: 20px 0;
  color: #292929;
  text-transform: uppercase;
}

section#instructors .instructors-container .instructor .name .description {
  max-width: auto;
}

section#instructors .instructors-container .instructor .name .rol h3 {
  padding: 0px 0px 10px 0px;
  color: #f77e7e;
}

section#instructors .instructors-container .matias img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px #519191 solid;
  -webkit-box-shadow: 10px 10px 20px #d5d5d5;
          box-shadow: 10px 10px 20px #d5d5d5;
}

section#instructors .instructors-container .javier img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px #519191 solid;
  -webkit-box-shadow: 10px 10px 20px #d5d5d5;
          box-shadow: 10px 10px 20px #d5d5d5;
}

form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  width: 300px;
}

form ::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.479);
  text-transform: capitalize;
}

form :-ms-input-placeholder {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.479);
  text-transform: capitalize;
}

form ::-ms-input-placeholder {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.479);
  text-transform: capitalize;
}

form ::placeholder {
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.479);
  text-transform: capitalize;
}

form input {
  padding: 7px;
  font-size: 1.1rem;
  border: none;
  background-color: white;
  border-radius: 2px;
  outline: none;
}

form label {
  padding: 5px 0;
  font-size: 0.6rem;
  color: white;
}

form button {
  font-size: 1rem;
  padding: 10px;
  margin-top: 20px;
  background-color: #f77e7e;
  border-radius: 2px;
}

form textarea {
  margin-top: 20px;
  width: clamp(250px, 40vw, 400px);
  height: 300px;
  padding: 5px;
  border: none;
  background-color: white;
  border-radius: 2px;
}

section#login {
  padding: 0vh 2em;
  margin-top: 20vh;
  border-left: #f77e7e 2px solid;
}

section#login .login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

section#login .login_container h2 {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 10px;
  color: #292929;
}

section#login_register {
  padding-top: 60px;
  min-height: calc(100vh - 120px);
  padding: 2em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#login_register .login_register_container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#login_register h2 {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}

section#fetchingData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin: 0 auto;
  height: 400px;
  padding: 10vh 2em;
}

section#fetchingData h2 {
  padding: 10px;
}

section#fetchingData table {
  min-width: 500px;
  border: 1px black solid;
  padding: 30px;
}

section#fetchingData table th {
  text-align: center;
}

section#fetchingData table td {
  text-align: right;
  border-bottom: 1px black solid;
  padding: 5px;
}

section#admin_area {
  margin-top: 60px;
  padding-top: 0px;
  height: calc(100vh - 60px);
  background-color: #2d99c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#admin_area h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: white !important;
}

#adminlogin-container {
  padding-top: 0px;
}

section#userarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#userarea ul {
  list-style: none;
}

@media (min-width: 800px) {
  section#header-section header .header-right {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */